@import "../../styles/variables.module.scss";

@mixin button {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  text-align: center;
  border-radius: $radius;
  padding: $inner-padding;
  cursor: pointer;
  font-weight: 700;
  transition-duration: $duration;
}

.button {
  @include button;
  background-color: $main-blue-accent;
  border: solid $main-blue 2px;
  color: $main-blue;
  &:hover {
    color: $white;
    background-color: $main-blue;
  }
}
.buttonSolid {
  @include button;
  background-color: $main-blue;
  border: solid $main-blue 2px;
  color: $white;
  &:hover {
    transform: translateY(-2px);
  }
}

.buttonLight {
  @include button;
  background-color: transparent;
  border: solid $white 2px;
  color: $white;
  &:hover {
    color: $black;
    background-color: $white;
  }
}
