@import "../../styles/variables.module.scss";

.button {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  text-align: center;
  background-color: $main-blue-accent;
  border: solid $main-blue 2px;
  border-radius: $radius;
  padding: $inner-padding;
  color: $main-blue;
  cursor: pointer;
  font-weight: 700;

  transition-duration: $duration;

  &:hover {
    color: $white;
    background-color: $main-blue;
  }
}
