@import "../../styles/variables.module.scss";

.greeter {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main {
      display: flex;
      align-items: center;
      gap: 5px;

      .hand,
      img {
        height: 30px !important;
        width: auto;
        animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s; /* Change to speed up or slow down */
        animation-iteration-count: infinite; /* Never stop waving :) */
        transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
        display: inline-block;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    button {
      width: 100px;
      display: flex;
      justify-content: center;
    }
    .or {
      color: $text-faded-gray;
      font-weight: 700;
    }
  }

  .api {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: $text-faded-gray;
    svg {
      transition-duration: $duration;
    }
    &:hover {
      color: $white;
      cursor: pointer;
      svg {
        transform: translateY(5px);
      }
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
